<div class="ng-container">
    <h2>...and create your account</h2>
    <br>
    <br>
    <!-- form for account sign up -->
        <div class="row">
            <div class="col-sm-6 col-centered">
                <!-- TO DO <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"></form>-->
                <div class="form-group">
                    <label class="sr-only" for="login">Login</label>
                    <input type="text" class="form-control" id="login" placeholder="Login name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-centered">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
        </div>
        <!-- dropdown menus for DOB -->
        <!-- todo - use DOB from server -->
        <div class="d-flex row">
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control" id="birthYear">
                        <option>year</option>
                        <option>1990</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control" id="birthMonth">
                        <option>month</option>
                        <option>January</option>
                        <option>February</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control" id="birthDay">
                        <option>day</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-centered">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
        </div>
        <h3>Enter the login name of the person who introduced you to Howrse here.</h3>
        <div class="row">
            <div class="col-sm-6 col-centered">
                <div class="form-group">
                    <input type="text" class="form-control" id="Reffered" placeholder="Referred by (optional)">
                </div>
            </div>
        </div>
        <div class="inscription">
            <div class="form-check text-center">
                <input type="checkbox" class="form-check-input" id="terms">
                <label class="form-check-label" for="terms">
                    I have read and agree to the <a target="privacy"
                                                    class="link-style-1" href="https://www.owlient.com/tou/ca">Terms and Conditions of Use,</a>
                    the <a target="privacy" class="link-style-1" href="https://www.owlient.com/eula/ca">
                        End User
                        License Agreement,
                    </a> and the <a target="privacy" class="link-style-1"
                                    href="https://www.owlient.com/pp/ca">Privacy Policy</a>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-centered">
                <button type="submit" class="btn btn-play align">Play</button>
            </div>
        </div>
    <br>
    <!-- disclaimer and terms  -->
    <div>
        <label class="custom-control-label" for="terms">
            This information is collected by Owlient to
            create your account.
            <a target="privacy" class="link-style-1" href="https://ca.howrse.com/footer/privacyNotice">
                More
                information about the processing of your personal data and your rights.
            </a>
        </label>
    </div>
</div>