<body>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#">Breeding Farm </a></li>
    <li role="presentation" class="active">
      <a href="#">Equestrian centre </a>
    </li>
    <li role="presentation" class="active"><a href="#">Trade </a></li>
    <li role="presentation" class="active"><a href="#">Community </a></li>
    <li role="presentation" class="active"><a href="#">Achievements </a></li>
  </ul>
  <div class="container">
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        Care
      </a>
      <a href="#" class="list-group-item disabled">
        Night
      </a>
      <a href="#" class="list-group-item"></a>
    </div>
    <div class="item item-2">
      <img src="/assets/images/horse.png" />
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        Mission
      </a>
      <a href="#" class="list-group-item"></a>
      <a href="#" class="list-group-item disabled">
        Rides
      </a>

      <a href="#" class="list-group-item"></a>
    </div>
    <div class="container flex-start">
      <div class="list-group">
        <a href="#" class="list-group-item disabled">
          <strong>Equestrian Centre</strong>
        </a>
        <a href="#" class="list-group-item"
          ><strong>Name:</strong><em>Emma's amazing stables</em></a
        >
        <a href="#" class="list-group-item"
          ><strong>Up to:</strong>23 June 2119</a
        >
        <a href="#" class="list-group-item"><strong>Box:</strong></a>
      </div>
      <div class="list-group"></div>
      <a href="#" class="list-group-item disabled">
        <strong>Training</strong>
      </a>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Training</div>

      <!-- Table -->
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Stamina</th>
            <td><div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
                      <span class="sr-only">99% Complete</span>
                    </div>
                  </div></td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">Speed</th>
            <td><div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
                      <span class="sr-only">99% Complete</span>
                    </div>
                  </div></td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">Dressage</th>
            <td>Larry</td>
            <td>the Bird</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container flex-start">
      <div class="list-group">
        <a href="#" class="list-group-item disabled">
          <strong>History</strong>
        </a>
        <a href="#" class="list-group-item"
          >08:00: <strong>Gaia </strong> has just woken up</a
        >
      </div>
      <!-- <div class="item item-2">2</div>  -->
    </div>

    <!--<img src="/assets/images/horse.png">
<div class="description text-center">
    <h4 class="text-nowrap">Gaia</h4>
    <strong class="text-nowrap">French Trotter</strong>-->

    <!--using a grid for layout
    div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
</div>-->
  </div>
</body>
