body {
  background-image: url("/assets/images/background-1.jpg");
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container.space-around {
  justify-content: space-around;
}

.container.flex-start {
  justify-content: flex-start;
}

.item {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  color: #630;
  text-align: center;
  padding: 10rem;
  /* background: linear-gradient(to bottom,rgba(220,219,129,1) 0,rgba(216,215,124,1) 50%,rgba(203,201,105,1) 100%); */
  margin: 8px;
  border-radius: 0;
  box-shadow: inset 1px 0 1px 0 rgba(181, 183, 77, 0.7);
  border-bottom: 1px solid rgba(183, 181, 77, 0.8);
  border-top: 1px solid rgba(183, 181, 77, 0.8);
}

.list-group-item {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(216, 215, 124, 1);
  padding: 10px;
  font-size: 14px;
  color: #630;
}

.progress-bar {
  background-color: #EEA400;
}
