<div class="ng-container">
  <div class="header">
    <!-- logo image -->
    <img src="/assets/images/howrse.png">
    <div>
      <h2>Choose a horse...</h2>
      <!-- <div style="display: flex; justify-content: center;">
    <img src="/assets/images/horse-alz-b.png"> -->
    </div>
    <div class="d-flex row">
      <!-- list of breeds  -->
      <div class="col-sm-4">
        <div class="circle-left">
          <ul class="list-unstyled text-right">
            <h3>Breeds</h3>
            <li><label> French Trotter <input type="radio" name="breed" value="FrenchTrotter"></label></li>
            <li><label> Shetland <input type="radio" name="breed" value="Shetland"></label></li>
            <li><label> Quarter Horse <input type="radio" name="breed" value="QuarterHorse"></label></li>
            <li><label> Holsteiner <input type="radio" name="breed" value="Holsteiner"></label></li>
            <li><label> Gypsy Vanner <input type="radio" name="breed" value="GypsyVanner"></label></li>
            <li><label> Curly <input type="radio" name="breed" value="Curly"></label></li>
            <li><label> Argentinean Criollo <input type="radio" name="breed" value="ArgentineanCriollo"></label></li>
            <li><label> KWPN <input type="radio" name="breed" value="KWPN"></label></li>
            <li><label> Canadian Horse <input type="radio" name="breed" value="CanadianHorse"></label></li>
            <li><label> Newfoundland Pony <input type="radio" name="breed" value="NewfoundlandPony"></label></li>
            <li><label> 29 other breeds to discover <input type="radio" name="breed" value="Other"></label></li>
            <!-- <li><i class="fas fa-lock"></i> 29 other breeds to discover</li> -->
          </ul>
        </div>
      </div>
      <div class="col-sm-4 flex-column">
        <img src="/assets/images/horse-alz-b.png">
        <div class="description text-center">
            <h4 class="text-nowrap">Best skill</h4>
            <strong class="text-nowrap">Trot</strong>
          </div>
      </div>
      <!-- list of coats  -->
      <div class="col-sm-4">
        <div class="circle-right">
          <ul class="list-unstyled text-left">
            <h3>Coats</h3>
            <li><label><input type="radio" name="coat" value="Chestnut"> Chestnut </label></li>
            <li><label><input type="radio" name="coat" value="Bay"> Bay </label></li>
            <li><label><input type="radio" name="coat" value="LiverChestnut"> Liver Chestnut </label></li>
            <li><label><input type="radio" name="coat" value="DarkBay"> Dark Bay </label></li>
            <li><label><input type="radio" name="coat" value="CherryBay"> Cherry Bay </label></li>
            <li><label><input type="radio" name="coat" value="Black"> Black </label></li>
            <li><label><input type="radio" name="coat" value="FlaxenChestnut"> Flaxen Chestnut </label></li>
            <li><label><input type="radio" name="coat" value="Other"> 1 other coat to discover </label></li>
            <!-- <input type="radio" name="coat" value="Other"> 1 other coat to discover<br> -->
          </ul>
        </div>
      </div>