body {
    background-image: url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    /*background-color: #BFD16C; greenish color */
}

.header {
    margin-left: 8px;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* li {
    color: white;
    text-align: center;
    font-size: 18px;
} */

/* .breeds {
    text-align: left;
}

.coats {
    text-align: right;
} */

img {
    vertical-align: middle;
}

/* .breed-label {
    display: table;
    width: 100%;
    height: 40px;
    position: relative;
} */

/* .breed-list {  
    position: relative;
    animation: inscriptionPopLeft .75s;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: inscriptionPopLeft;
    -webkit-animation: inscriptionPopLeft .75s;
} */

.row {
    padding-bottom: 30px;
}

/* .coat-list {
    right: -7px;
} */

.col-centered {
    float: none;
    margin: 0 auto;
  }

.d-flex {
    display: flex;
    justify-content: center;
  }

 /* ul {
    list-style-type: none;
 } */

/* custom radio color */
  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* change radio color on click */
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(102, 170, 0);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* change bold label on click
input[type='radio'] + label {
    color: #ccc;
    font-style: normal;
  } 

input[type='radio']:checked + label {
    color: #f00;
    font-style: bold;
  }  */


circle.right {
shape-outside: circle(45% at 0% 50%);
shape-margin: 10%;
width: 250px;
height: 300px;
float: left;
}

circle.left {
shape-outside: circle(45% at 100% 50%);
shape-margin: 10%;
width: 250px;
height: 300px;
float: right;
}

.description {
    background: rgba(74,84,58,.4);
    display: inline-block;
    width: auto;
    padding: 7px 20px;
    border-radius: 30px;
    box-sizing: border-box;
    color: #fff;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}