  <div class="ng-container">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/howrse-small.png" alt="howrse logo" />
      </a>
    </nav>
  </div>

<!--<div class="d-flex row">
    <div class="col-sm-4 flex-column">
        <img src="/assets/images/horse.png">
        <div class="description text-center">
            <h4 class="text-nowrap">Gaia</h4>
            <strong class="text-nowrap">French Trotter</strong>
        </div>
    </div>
</div>-->
